.boton-elegante {
    padding: 8px 20px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    margin: 0 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #666666;
    background: #292929;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.add-button {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #597445;
  }
  
  .add-button, .add-icon, .add-text {
    transition: all 0.3s;
  }
  
  .add-button .add-text {
    color: #fff;
    font-weight: 600;
    margin-right: auto; /* Pushes the text to the left */
    padding-left: 15px; /* Adds some padding to the left of the text */
  }
  
  .add-button .add-icon {
    position: absolute;
    right: 0; /* Align the icon to the right */
    height: 100%;
    width: 39px;
    background-color: #729762;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s;
  }
  
  .add-button .add-icon svg {
    width: 24px;
    height: 24px;
    stroke: #fff; /* Ensures the icon color is white */
  }
  
  .add-button:hover {
    background: #34974d;
  }
  
  .add-button:hover .add-text {
    color: transparent;
  }
  
  .add-button:hover .add-icon {
    width: 100%; /* Expands the icon container to full button width on hover */
  }
  
  .add-button:active .add-icon {
    background-color: #2e8644;
  }
  
  .add-button:active {
    border: 1px solid #2e8644;
  }
  
.add-icon::before, .add-icon::after{
    display: none;
}