.wrapper{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.wrapper.active .form-box.login {
    transition: none;
    translate: -400px;
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('../../../public/assets/index.jpg'); /* Make sure this path is correct */
    background-size: cover;
    background-position: center;
}

.loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 200px; /* Make the button longer */
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
    margin: auto; /* Center the button */
}

.loginBtn:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.loginBtn:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.loginBtn:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}



.scrollable {
    overflow-y: auto; /* Enable vertical scrolling */
}

@media (max-width: 768px) {
    .wrapper.scrollable {
      max-height: 140vh; /* Ensure the wrapper does not exceed the viewport height */
    }
    .wrapper {
        max-height: 90vh; /* Ensure the wrapper does not exceed the viewport height */
    }
}
