/* Hide scrollbar for Chrome, Safari, and Opera */
body ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)),url('../../../public/assets/dashboard3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.appointment-img{
  background-image: url('../../../public/assets/appointment.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reminder-img{
  background-image: url('../../../public/assets/reminder.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.check-report-img{
  background-image: url('../../../public/assets/check_report.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chatbot-img{
  background-image: url('../../../public/assets/chatbot.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.explore {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(110 231 183);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.Icon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.explore:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: .5s;
}

.explore:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.explore:hover .Icon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

.cssbuttons-io-button {
  background: #6EE7B7;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #6EE7B7;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #6EE7B7;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed; /* Changed from relative to fixed */
  bottom: 20px; /* Position from the bottom */
  right: 20px; /* Position from the right */
  z-index: 1000; /* Ensure it appears above other elements */
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}

  